<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>395062880964-00j7qivqg06vlsfs5dss49vlgdm58cpu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.395062880964-00j7qivqg06vlsfs5dss49vlgdm58cpu</string>
	<key>API_KEY</key>
	<string>AIzaSyDiBQBerRLegt-loSr1yYuVmnl_c0GUWAg</string>
	<key>GCM_SENDER_ID</key>
	<string>395062880964</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.baolamstudio.DauTotNghiep</string>
	<key>PROJECT_ID</key>
	<string>dautotnghiep-55582</string>
	<key>STORAGE_BUCKET</key>
	<string>dautotnghiep-55582.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:395062880964:ios:f0ebe54ecb104b1e</string>
	<key>DATABASE_URL</key>
	<string>https://dautotnghiep-55582.firebaseio.com</string>
</dict>
</plist>